@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');

.main {
    font-family: 'Redressed', cursive;
    font-weight: bold;
    grid-area: header;
    box-shadow: 1px 1px 10px rgba(129, 129, 184, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.main  img{
    width: 40px;
    /*flex-grow: 0;*/
}
/*.main  img:hover {*/
/*    opacity: 0.5;*/
/*}*/

.login{
    color: black;
}